div{
  margin: 10px 0;
}
.form{
  display: flex;
  flex-direction:column;
  width: 300px;
}
.form_input{
  display: flex;
  flex-direction:column;
  
}
.result {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.text{
  margin: 20px 0;
}
.card {
  width: 200px;
  margin: 20px;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}
